<title>My application</title>
  <h1>Hello, World!</h1>
  	Enter 4 ArrayList(Integer type) and program returns their union ArrayList(Integer type)


    Result is {{result}}


  <form action="computeUnion" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>