<title>My application Deployed Automatically</title>
  <h1>ComputeUnion</h1>
    In the first form, enter a list of integers separated by a newline character.
    <br>
    In the second form, enter a list of integers separated by a newline character.
    <br>
    In the third form, enter a list of integers separated by a newline character.
    <br>
    In the fourth form, enter a list of integers separated by a newline character.
    <br>
    You can see all four list of integers' union list.
    <br>
    Example: [1,2] U [2,3] U [1,4] -> [1,2,3,4]
    <br>
    Result is {{result}}


  <form action="computeUnion" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>