<title>My application deployed automatically</title>
  <h1>Site Map</h1>
    
    <a href=https://stark-dusk-87355.herokuapp.com/compute> compute </a>
    <br>
    <a href=https://stark-dusk-87355.herokuapp.com/computeUnion> computeUnion </a>
